@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #1C1C21;
  --color-border: #49494D;
  --color-primary: white;
  --color-accent: #00BFFF;
  --color-accent-hover: #00A3CC; 
  --color-secondary: #75C5FB;
  --color-hover: #0EA5E9;
  --color-hover-dark: #264050;
  --color-dark: #1C1C21;
}

@layer components {
  .basecontainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .basecontainer {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .basecontainer {
      max-width: 768px;
    }
  }

  @media (min-width: 960px) {
    .basecontainer {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .basecontainer {
      max-width: 1200px;
    }
  }

  .menu-item {
    @apply flex flex-row items-center bg-bg hover:bg-accent cursor-pointer rounded px-4 py-2 text-sm gap-2;
  }

  .menu-line {
    @apply absolute left-0 bottom-0 w-0 h-0.5 bg-accent transition-all duration-300 group-hover:w-full
  }

}


:root {
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(28 28 34 / var(--tw-bg-opacity, 1));
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
    font-family: var(--font-jetbrainsMono, "JetBrains Mono", monospace);
    line-height: 2;
  }

